body{
    padding: 0;
    margin: 0;
    font-family:  'Montserrat', sans-serif;
}

.top{
    width:  33.76cm;
    margin: 0 auto;
}

.menubar{
    height: 1.38cm;
    background: white;
    width: 100%;
    box-shadow: 0 0 10px  whitesmoke;
    }


.menubar .logo{
 float: left;
}


.menubar h1{
    margin: 0;
    font-size: 43.19 ;
    font-weight: normal;
   padding-top: 5px;
}

.menubar ul.menu{
    float: right;
    list-style: none;
}

.menubar ul.menu li{
    float: left;
    margin-right: 2.19cm;
}

.menubar ul.menu a{
   text-decoration: none;
   color: black;
    border-bottom: 2px solid transparent;
    padding-bottom:20px ;
    transition: all 0.3s ease ;
}

.menubar ul.menu a:hover{
border-bottom: 2px solid black;
padding-bottom: 20px ;
}

.menubar ul.menu a{
    font-size: 20px;
    font-weight: normal;
}

.clearfix{
    clear: both;
}

.header{
    width: 100%;
    background: url(test01.jpg) no-repeat ;
    height: 880px;
    background-size:cover;
    background-position: center;
}

.header_area {
    padding-top: 160px;
    text-align: center;
    color:black;
    margin: 0 auto;
    width: 660px; 
}

.header_area h1{
    font-size: 60px;
    font-weight: 50px;
    text-align: center;
}

.header ul.link a{
    list-style: none;
    text-decoration: none;
    font-size: 32px;
    color: black;
   text-align: center;
   margin-right: 60px;
   font-weight: bold;
}

.header ul.link img{
    margin-right: 20px;
}

